// 定义变量
// 按钮背景
$btn-background = url('../assets/images/bg.png') center
// 选中字体
$font-active = #c08836
// 边框颜色
$border-small = #ffffff
// 输入框颜色
$input-color = #ffffff
// 输入框选中颜色
$input-coloractive = #c08836
// 注释背景
$bg-box = linear-gradient(#717171, #000000)